---
import "@fontsource-variable/labrada";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>rené</title>
  </head>
  <body>
    <div
      style="height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center; flex-direction: column; background: #d9f99d;"
    >
      <h1 style="color: #16a34a">rené cáceres</h1>
      <a
        style="font-size: xx-large;"
        href="https://bsky.app/profile/panqueque.lol">🦋</a
      >
    </div>
  </body>
</html>
<style>
  * {
    font-family: "Labrada Variable", serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    font-size: 100%;
    font-family: sans-serif;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  table {
    border-collapse: collapse;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }
</style>
